
@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }

}

.banner {
  position: relative;
  overflow: hidden;
  background: url('../../public/banner.jpg') center/cover no-repeat fixed;
  height: 20rem;
  width: 98%;
  color: #FFFFFF;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.text {
  position: absolute;
  white-space: nowrap;
  width:80%;
  animation: moveText 10s linear infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: gold;
  font-size: 10rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 767px) {
  .banner {
    width: 200%;
  }
  .text {
    width: 100%;
    font-size: 5rem;
  }
}

/* Responsividade para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    width: 100%;
  }
  .text {
    width: 100%;
    font-size: 7rem; /* Ajuste o tamanho da fonte conforme necessário */
  }
}

/* Responsividade para desktops */
@media (min-width: 1024px) {
  .banner {
    width: 100%;
  }
  .text {
    width: 80%;
    font-size: 10rem; /* Mantenha o tamanho da fonte original ou ajuste conforme necessário */
  }
}
