.container{
  display: flex;
  flex-direction: row;
}

.cartList {
  width: 60%;
  margin-top: 1rem;
}

.CartContainer{
  width: 70%;
  z-index: 1;
}



.CartInfo{
  margin-left: 10%;
  margin-top: 2rem;
  z-index: 2;
}
.productsCart{
  display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.error{
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  font-size: 50px;
}