
@media (min-width: 768px) {
  .header {
    height: 5rem;
    margin: 0 0 0 0;
  }

  .section {
    flex: 1;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
  }

  .section:first-child {
    flex: 0.6;
  }
}

@media (max-width: 767px) {
  .header {
    height: 7%;
    margin: 0 0 0 0;
  }

  .section {
    width: 100%;
    text-align: center;
    font-size: medium;
    cursor: pointer;
  }
}

.header{
  position: fixed;
  display: flex;
  top: 0; 
  width: 100%;
  z-index: 1000;
  background-color: #283350;
  color: #ffb500;
}