.container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 1200px;
  width: 300px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}
.loginTitle{
  text-align: center;
  margin-bottom: 1.3rem;
}
.campo{
  display: flex;
  height: 95px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.3rem;
}
.campoV1{
  display: flex;
  height: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input {
  padding: .4rem 0.4rem;
  background: none;
  font: inherit;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  width: 316px;
}
.error {
  display: flex;
  align-items: center;
  color: red;
  font-size: 0.8em;
  height: 2.3rem;
  margin: 0rem 0rem 0rem 0rem;
}
.label {
  display: flex;
  font-size: 1em;
  height: 1rem;
  margin: 0rem 0rem 0rem 0rem;
}
.labelV1 {
  display: flex;
  font-size: 0.8em;
  height: 1rem;
  margin: 0rem 0rem 0rem 0rem;
}
.login{
  margin-top: 1rem;
  text-align: center;
}
.button {
  margin: 0;
  padding: .4rem 1.5rem;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  /* Adicione outros estilos conforme necessário */
}
